<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
    <h1>Форма контакты</h1>
    <form method="post">
        <label>
            <input type="text" name="title" placeholder="Введите тему сообщения">
        </label>
        <label>
            <textarea name="message" cols="40" rows="5" placeholder="Введите сообщение"></textarea>
        </label>
        <input type="email" name="email" placeholder="введите email">
        <input type="submit">
    </form>
</body>
</html>