<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Параметры</h1>
    {{param}}
    <a href="/contacts/"><h3>Страница контакты</h3></a>
    <form method="post"  accept-charset="utf-8">
        <label>
            <input type="text" name="First input" placeholder="Имя">
        </label>
        <label>
            <input type="date" name="Input date">
        </label>
        <label>
            <input type="email" name="email input" placeholder="email" >
        </label>
        <label>
            <input type="submit">
        </label>

    </form>
</body>
</html>